name: Deploy to Production

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for requesting the JWT
  contents: read  # Required for actions/checkout

env:
  TF_LOG: INFO
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=env/main/terraform.tfstate" \
            -backend-config="region=${{ secrets.AWS_REGION }}"

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="environment_name=main" \
            -var="aws_region=${{ secrets.AWS_REGION }}"

      - name: Upload Static Content
        run: |
          # Get bucket name from Terraform output
          BUCKET_NAME=$(terraform output -raw bucket_name)
          echo "Deploying to $BUCKET_NAME..."
          
          # Sync ../ folder to S3
          aws s3 sync ../. s3://$BUCKET_NAME --delete
          
          echo "::notice::Website URL: http://$BUCKET_NAME.s3-website-${{ secrets.AWS_REGION }}.amazonaws.com"
